torch==2.1.1
torchvision==0.16.1
torchaudio==2.1.1
diffusers==0.24.1
transformers==4.26.1
huggingface_hub==0.14.1
accelerate==0.19.0
einops==0.7.0
numpy==1.24.4
scipy==1.10.1
opencv_python==4.9.0.68
Pillow==9.5.0
rembg==2.1.0
onnxruntime==1.15.0
insightface==0.7.3
tqdm==4.65.0
packaging==23.1
rembg

